.page__footer-position {
  margin: 0px auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 849px) {
  .page__footer-position {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 599px) {
  .page__footer-position {
    padding-bottom: 36px;
  }
}