.profile__content {
  display: grid;
  grid-template-areas:
        "name editButton"
        "activity .";
  grid-template-columns: 1fr min-content;
  column-gap: 18px;
  align-items: baseline;
  max-width: 336px;
}

@media screen and (max-width: 767px) {
  .profile__content {
    text-align: center;
    padding-bottom: 36px;
  }
}